[2019-01-22 17:21] bniedermeyer commented on #145
Hi @trivikr. There is a chance that the date may be changed to the following week (2/21). Does that still work for you?

[2019-01-22 18:52] lidderupk commented on #147
Thank you @bniedermeyer. I have read and understand the code of conduct. Looking forward to presenting on March 14. I will confirm once again in mid February.

[2019-01-22 19:10] anvaka commented on #148
Read your code of conduct and 100% agree with it.

Unfortunately the following week wouldn't work for me. I have only week with Feb 14 available. And then every other week after that.

[2019-01-23 17:44] bniedermeyer commented on #148
Ok! Does our March 14th event work for you?

[2019-01-24 01:09] bniedermeyer commented on #145
Great!

[2019-01-24 20:04] ahoak opened #149 "Talk Proposal: Designing Data-Driven Visualizations using D3.js"
**Designing Data-Driven Visualizations using D3.js**

There comes a point when drawing data visualizations with simple charting libraries where they no longer suit your needs. Suppose you need to add a median line or add a subcategory on your bar chart. Simple operations like these may not be supported. D3.js is drawing library  that allows you to explicitly define SVG implementations and is a pow

[2019-01-24 20:35] bniedermeyer commented on #149
Hi @ahoak! Does our event on 2/21 work for you?

[2019-01-24 20:39] ahoak commented on #149
Perfect! 2/21 works.

[2019-01-24 21:32] bniedermeyer commented on #149
Great! Just take a look over our code of conduct and let us know that you agree and you'll be all set!

https://github.com/seattlejs/seattlejs/blob/master/code-of-conduct.md

Also if you join our slack I can add you to our speaker channel so the organizers can keep in touch with you there. Just use the below link and ping me once you have joined!

http://bit.ly/SeattleJSslack

[2019-01-25 02:06] bniedermeyer commented on #145
@trivikr I can't remember if you are on our Slack team or not but if you are I can invite you to a organization channel for February's event. You can join here if you'd like.
http://bit.ly/SeattleJSslack. Just ping me on there and I can add you to the channel

[2019-01-30 00:38] trivikr commented on #145
Thanks for invite @bniedermeyer, but I don't use Slack

[2019-01-30 20:36] dmahugh opened #150 "Lightning Talk Proposal: Office JavaScript APIs"
# Extend Office 365 with the Office JavaScript APIs

Did you know that you can build solutions that extend Microsoft Office applications and interact with content in Office documents, using the web technologies you already know and use every day? In this talk, we’ll look at how you can use JavaScript to build an Office add-in that’ll run on Windows, Mac, Office Online, iOS, or Android. Topics to b

[2019-01-31 17:03] dmahugh commented on #150
Hey @bniedermeyer! Yes, 2/21 works for us - want to plan on that?

[2019-01-31 22:14] bniedermeyer commented on #150
Great! If both of you could read/agree to our Code of Conduct we'll get you on the schedule.

https://github.com/seattlejs/seattlejs/blob/master/code-of-conduct.md

Also feel free to ping me on our slack and I'll add you to the speaker's channel for the event.

http://bit.ly/SeattleJSslack

[2019-01-31 22:20] dmahugh commented on #150
I've read the Code of Conduct and that looks great, and pinged you on Slack. CC @kbrandl to make sure she sees this. Looking forward to the event, thanks!

[2019-01-31 22:47] kbrandl commented on #150
Thanks, @dmahugh! @bniedermeyer I've also read (and agree to) the Code of Conduct. I'll ping you on Slack momentarily, so you can add me to the speaker's channel as well. Thanks -- looking forward to speaking on the 21st!

[2019-02-14 19:39] #145 closed

[2019-02-14 19:52] bniedermeyer commented on #148
@anvaka just checking in again. Does our event on March 14th work for you?

[2019-02-14 19:59] anvaka commented on #148
Yes! March 14th works for me

On Thu, Feb 14, 2019 at 11:52 AM Brenden Niedermeyer <
notifications@github.com> wrote:

[2019-02-26 04:41] #149 closed

[2019-02-26 04:41] #150 closed

[2019-03-04 20:38] lidderupk commented on #147
Hi @bniedermeyer, is a venue finalized for the 03/14 event ? Thank you !

[2019-03-05 02:59] bniedermeyer commented on #147
@lidderupk Yes! It will be at the Indeed offices. Russell Investments Center - 13th Floor
1301 2nd Ave, Seattle, WA 98101

[2019-03-07 23:09] bencripps opened #151 "Talk Proposal: A MicroService approach to Modern User Interfaces"
# Indeed's UI Platform: A MicroService approach to Modern User Interfaces

At Indeed we're building a platform to help job seekers find jobs, and we've got hundreds of engineers working on that problem. Historically, that's meant we've had a lot of engineers working in monolith applications. And that's meant slower velocity than we'd like.

In this talk, we'll discuss how Indeed is pivoting from m

[2019-03-07 23:32] bniedermeyer commented on #151
Hi @bencripps - This sounds awesome. I'm assuming you'd like to do this at next weeks meetup right? Just confirm that you've read and agree to our Code of Conduct and you'll be set!

https://github.com/seattlejs/seattlejs/blob/master/code-of-conduct.md

[2019-03-08 01:36] bencripps commented on #151
Yep, and I've read through the code of conduct :)

[2019-03-11 15:56] bniedermeyer commented on #151
Hi @bencripps - Can you join our Slack (bit.ly/SeattleJSslack)? I'll add you to our speakers channel so we can keep in contact this week prior to the event. Thanks!

[2019-03-11 15:57] bniedermeyer commented on #147
Hi @lidderupk - Can you join our Slack (bit.ly/SeattleJSslack)? I'll add you to our speakers channel so we can keep in contact this week prior to the event. Thanks!

[2019-03-12 18:48] bencripps commented on #151
Done!

[2019-03-13 04:06] grant opened #152 "Talk Proposal: Go Serverless with Google Cloud Functions"
# Go Serverless with Google Cloud Functions
(Note to @bniedermeyer: Hoping to come back to SeattleJS for another talk!)

## Description
Your development agility comes from building systems composed of small, independent units of functionality focused on doing one thing well. Cloud Functions lets you build and deploy services at the level of a single function, not at the level of entire application

[2019-03-13 16:02] bniedermeyer commented on #152
Hi @grant - sounds great. Looks like April works for you?

[2019-03-13 17:36] grant commented on #152
Yeah, April would be great!

[2019-03-15 16:33] hingham opened #153 "Talk Proposal: Getting Started with GraphQL"
#### GraphQL is swell.
Like REST, graphQL is stateless, cacheable, and will fetch data from a backend server. But GraphQL is also different: unlike REST, graphQL allows the client to shape the data, has a single endpoint, and can fetch all data needed to render a view with one query.

In this talk, we’ll look at how to get started using graphQL from a new user's perspective. We will see examples o

[2019-03-15 17:15] bniedermeyer commented on #153
Hi @hingham! Can you make our April 11th event? Also please confirm you've read and agreed to our Code of Conduct: https://github.com/seattlejs/seattlejs/blob/master/code-of-conduct.md

Thanks!

[2019-03-15 17:15] #147 closed

[2019-03-15 17:15] #148 closed

[2019-03-15 17:15] #151 closed

[2019-03-17 23:16] hingham commented on #153
Hi bneidermeyer,
Yes, I can do April 11! And I can confirm I've read and agree to the code of conduct.
Thanks!
Hannah

[2019-03-18 14:34] bniedermeyer commented on #153
Great!

[2019-03-28 20:02] grant commented on #152
@bniedermeyer
Can we reschedule this talk for June 13th?
The April and May dates conflict with Google events Next and I/O respectively, which I recently found out I need to attend.

[2019-03-29 03:12] bniedermeyer commented on #152
Sure thing

[2019-04-02 02:23] bniedermeyer opened #154 "Talk proposal: Dredd is the API Law"
Logging this on behalf of @cmgriffing

__Dredd is the API Law__
We have all sorts of tests we run on our APIs and applications. There is unit, integration, smoke, regression, end-to-end, accessibility and many more types of testing. But how often do you test your documentation? How would you even do that? Dredd is here to help with that process by making sure your API documentation accurately refl

[2019-04-02 07:52] cmgriffing commented on #154
Jst confirming that I agree to the code of consuct.

[2019-04-02 17:31] puneetpr opened #155 "Talk Proposal: Service Worker Internals: The good, the bad and the Ugly"
Service workers are great, provides instant performance, resilience and enhances the web app user experience. But there are few gotchas, I wish I knew them before I messed up and learned. The story of Service Worker implementation, the do's and the dont's.

Twitter handle: https://twitter.com/this__puneet

[2019-04-03 02:45] beccalee123 opened #156 "Talk Proposal: My First npm Package"
# My First npm Package

npm packages: we know them, love them, and use them all the time, but have you ever made your own? In this talk, Becca will discuss her experience creating an npm package for the first time (and the rollercoaster of emotions that ensued during the process).

Bio: Becca is a software developer with a background in marketing, who fell in love with the tech industry while work

[2019-04-03 04:19] bniedermeyer commented on #156
@beccalee123 can you please confirm you agree to the code of conduct when you have a free second? https://github.com/seattlejs/seattlejs/blob/master/code-of-conduct.md

[2019-04-03 04:27] bniedermeyer commented on #155
Hi @puneetpr - Does the May 9th event work for you? Can you also  please add a bio for yourself and confirm you agree to our code of conduct? You can find that here: https://github.com/seattlejs/seattlejs/blob/master/code-of-conduct.md

[2019-04-03 04:28] beccalee123 commented on #156
Yes- I agree!

[2019-04-03 04:32] puneetpr commented on #155
Hi @bniedermeyer, I agree to code of conduct and added the twitter handle.
yes May 9th Works for me.

Thanks,
Puneet

[2019-04-04 18:18] kiwiupover opened #157 "Talk Proposal: EmberJS Octane"
[Emberjs](https://emberjs.com) is on the verge of releasing a major update to the framework called [Ember Octane](https://octane-guides-preview.emberjs.com/release/upgrading/editions/).

I will walk through the highlights of the update.
Some of the highlights
- New file layout for applications
- Decorators for customizing the behavior of components and other classes.
- Tracked properties, a type o

[2019-04-04 20:12] bniedermeyer commented on #157
Hi @kiwiupover! This looks great. Does our May 9th event work for you?

Also, please confirm that you've read and agree to our code of conduct. You can find it here:  https://github.com/seattlejs/seattlejs/blob/master/code-of-conduct.md

[2019-04-04 20:41] coopy commented on #154
@cmgriffing If you wouldn't mind, could you join our Slack instance so I can invite you to the speakers channel for 4/11? https://bit.ly/SeattleJSslack

[2019-04-04 22:56] kiwiupover commented on #157
May 9th looks great!  I have read and absolutely agree with the code of conduct.

[2019-04-05 20:00] erichonkanen commented on #157
awesome! looking forward to it

[2019-04-12 15:11] #153 closed

[2019-04-12 15:11] #154 closed

[2019-04-12 15:11] #156 closed

[2019-04-16 14:16] brion-fuller opened #158 "Talk proposal: Back To The Browser"
# Back To The Browser

In a world of new and ever evolving frameworks, we sometimes forget what platform we are even developing on.  We will take a small journey from static pages => jQuery => AngularJS => Bundlers/Package Managers => Current Day (React, Webpack, Vue, etc..).  We will talk about what each of these where solving that the predecessor couldn't.  Now let's see what the browsers have b

[2019-04-16 14:32] bniedermeyer commented on #158
Hi @brion-fuller! This looks great. Does our June 13th event work for you?

[2019-04-19 20:01] bniedermeyer commented on #158
Hi @brion-fuller - checking in. Does the June 13th event work for you?

[2019-04-20 04:28] brion-fuller commented on #158
Yeah I can do June.

[2019-04-22 16:04] rardoz opened #159 "Request to host: BCG Digital Ventures"
* BCGDV - Seattle (Boston Consulting Group Digital Ventures)
* 411 108th Ave NE, Suite 2100. Bellevue WA 98004 #2100
* Downtown Bellevue

We had a chance to host the January meetup. Since then we have acquired a new space and we thought SeattlJS might be a great meetup to fill it! We had an amazing time hosting the January meetup, and we heard a lot of people were really excited to learn about BCG

[2019-04-25 04:02] coopy commented on #159
Response sent in email

[2019-04-25 19:18] bniedermeyer commented on #155
Hi @puneetpr , Can you please join our slack group if you haven't already? That way we can add you to a channel for the event. You can sign up here if you aren't already a member. bit.ly/SeattleJSslack

[2019-04-25 19:19] bniedermeyer commented on #157
Hi @kiwiupover , Can you please join our slack group if you haven't already? That way we can add you to a channel for the event. You can sign up here if you aren't already a member. bit.ly/SeattleJSslack

[2019-04-26 04:48] serv opened #160 "Talk proposal: "Big Data" Engineering with Node.js"
# "Big Data" Engineering with Node.js

Can I sign up for a talk in July 2019? Thank you.

## Description

When you think about data engineering, people usually think about using Java or Python as the primary language to work with. While they are fine languages to work with, I want to throw Node.js into the mix as a serious contender to get the job done. Node.js is performant enough to do some heav

[2019-04-26 06:17] puneetpr commented on #155
Joined. It has a channel q-and-a

[2019-04-26 14:55] bniedermeyer commented on #160
Hi @serv ! This looks great. Does our July 11th event work for you?

Can you please join our slack group if you haven't already? That way we can add you to a speaker channel for communication when the event gets closer. You can sign up here if you aren't already a member. bit.ly/SeattleJSslack

[2019-04-26 17:42] serv commented on #160
Hi @bniedermeyer , July 11th works for me.
I signed up for the Slack channel now.
Thanks.

[2019-04-30 17:42] dbabbs opened #161 "Talk proposal: Interactive isoline routing with React and Leaflet"
# Interactive Isolines with React, Leaflet, and HERE Location Services

Learn about combining isoline routing and location services into your web application. An isoline is a radius of how far one can travel (car, pedestrian, public transportation) in a given radius (time or distance) based on a road network.

See example here: https://dbabbs.github.io/isoline-grid

* Dylan Babbs
* [Twitter](https

[2019-04-30 17:43] dbabbs commented on #161
By the way, I would prefer to do this lightning talk at the May 9 event at Mercedes Benz.

[2019-04-30 17:44] bniedermeyer commented on #161
Sounds great! Can you please join our Slack group if you haven't already? That way we can add you to a channel for the event for better communication between you and the organizers. You can sign up here if you aren't already a member. https://bit.ly/SeattleJSslack

[2019-05-01 18:03] brion-fuller commented on #158
I will have to move this out to July.

[2019-05-01 18:22] bniedermeyer commented on #158
Ok, no problem!

[2019-05-01 19:02] goldhand opened #162 "Talk proposal: Vending Customer Experiences: Autonomy for the Frontend"
# Vending Customer Experiences: Autonomy for the Frontend

The frontend is often pigeonholed into a monolith architecture by different forces. Many technology decisions are prescribed and releases must be scheduled. Large applications with weak module boundaries are difficult to maintain and often become a big ball of mud. We need to strive for true autonomy, from end to end, from database to user

[2019-05-01 19:27] bniedermeyer commented on #162
Hi @goldhand! Does our June 13th event work for you?

[2019-05-02 21:27] goldhand commented on #162
That works for me. Do you prefer github for communication or is there a contact I can email for additional details?

[2019-05-02 21:30] bniedermeyer commented on #162
Can you join our Slack group? That way we can add you to a channel for the event. You can sign up here if you aren't already a member. https://bit.ly/SeattleJSslack

[2019-05-02 22:22] bniedermeyer commented on #152
Hi @grant , Can you please join our Slack group if you haven't already? That way we can add you to a channel for the event for better communication between you and the organizers. You can sign up here if you aren't already a member. https://bit.ly/SeattleJSslack

[2019-05-02 22:58] grant commented on #152
I've joined the Slack group. I'll try to keep it open, but forgive me if I miss a message. I do read GitHub!

[2019-05-23 18:00] bniedermeyer commented on #152
@grant just in case you didn't see on Slack our location for 6/13 has changed. We'll be at Galvanize - 111 S Jackson St, Seattle, WA 98104

[2019-05-23 18:13] grant commented on #152
Got it, thanks!

[2019-06-05 21:10] timewellwasted opened #163 "Request to host: Dell Technologies"
* Dell Technologies
* [505 1st Ave S, Seattle, WA 98104](https://www.google.com/maps/place/Isilon+Systems+Inc/@47.5967139,-122.3336682,16.15z/data=!4m8!1m2!2m1!1sdell!3m4!1s0x0:0x6fb86bf581d129ed!8m2!3d47.5977849!4d-122.3347539)
* Downtown

At Dell Technologies we understand the importance of community. Especially when working in such a fast-paced environment it's crucial to share knowledge and ex

[2019-06-14 01:08] grant commented on #152
Coming, eta 7!

[2019-06-14 17:02] grant commented on #152
@bniedermeyer Before publishing the video, we need to remove the couple frames at the end of the talk of the video where I show this screen:

<img width="410" alt="Screen Shot 2019-06-14 at 10 01 06" src="https://user-images.githubusercontent.com/744973/59525514-62298f80-8e8b-11e9-8544-98c15fa4e7ee.png">

...

[2019-06-14 17:38] bniedermeyer commented on #152
@grant yep! I gave Rob a heads up about it last night. How's this?
https://drive.google.com/open?id=1ARGPelOKoQ3L2xrbDe9whL_ueaYDbUMq

[2019-06-14 17:41] #162 closed

[2019-06-14 17:41] #155 closed

[2019-06-14 17:41] #157 closed

[2019-06-14 17:41] #161 closed

[2019-06-14 18:23] grant commented on #152
Looks good, thanks!
Could be just 1 second, but it's good as-is too!

[2019-06-14 18:23] #152 closed

[2019-06-14 18:31] grant commented on #152
@bniedermeyer If you're sending a follow-up email to attendees, you can send this:

---
Thanks so much for coming! 💖💕💗

👨‍💻👩‍💻TRY our open-source Functions Framework:
https://github.com/GoogleCloudPlatform/functions-framework-nodejs

🎥WATCH our great introductory videos:
https://www.youtube.com/watch?v=1w2t3EWmlVU

🐦TWEET your questions about Cloud Functions:
https://twitter.com/granttimmerman

[2019-06-14 18:54] bniedermeyer commented on #152
Got it, Thanks!
*Brenden Niedermeyer*
brenden.niedermeyer@gmail.com

On Fri, Jun 14, 2019 at 11:31 AM Grant Timmerman <notifications@github.com>
wrote:

[2019-07-02 14:00] JoseHerminioCollas opened #164 "Global State in React with Hooks"
# Global State in React with Hooks

Min Hooks is an exploration of global state with React and Typescript.
An application, Widget Name is used to illustrate functionality such as saving and updating state.

Hooks are built into React and will probably be around for a while.
Typescript, a superset of JavaScript is another powerful tool for moving forward in the web world.
This application can be us

[2019-07-02 14:33] bniedermeyer commented on #164
Hi @JoseHerminioCollas ! This looks great. Does our July 11th event work for you?

[2019-07-03 18:57] trivikr opened #165 "Talk proposal: Streams in Node.js"
# Streams in Node.js

As defined in the title, in this lightning talk I plan to explain how [streams](https://nodejs.org/api/stream.html) work in Node.js
As part of this talk, we'll first understand what streams are and then go through an example application to understand how they work

I'm a Software Development Engineer and have been working on Node.js for last 3 years
I maintain [AWS SDK for Ja

[2019-07-08 20:20] bniedermeyer commented on #158
Hi @brion-fuller. We are going to be skipping this month's event to give us time to focus on our big social next month. We still would love to have you come speak at the next normal event. Could you make September 12th?

[2019-07-08 20:21] bniedermeyer commented on #164
Hi @JoseHerminioCollas - We are going to be skipping this month's event to give us time to focus on our big social next month. We still would love to have you come speak at the next normal event. Could you make September 12th?

[2019-07-09 15:58] brion-fuller commented on #158
I will probably have to move this out.  I will be out beginning of September.  I will resubmit for a talk in the future.

[2019-07-09 15:58] #158 closed

[2019-07-10 22:18] bniedermeyer commented on #158
Ok, sorry about that! We look forward to having you talk whenever you're available.

[2019-07-10 22:24] bniedermeyer commented on #165
Hi @trivikr, happy to have you back! Does our October 10th event work for you?

[2019-07-10 23:15] trivikr commented on #165
Hi @bniedermeyer, I haven't made plans for October yet.
I'll respond in this issue closer to the date, if slots are still available.

[2019-07-17 22:01] carolstran opened #166 "Talk proposal: Humanizing Your Documentation"
# Humanizing Your Documentation

**_Abstract_**
It’s no secret that most people don’t read technical documentation for pleasure. Users often come to your docs when they are frustrated with your software, disappointed that they haven't been able to solve the problem on their own and generally feeling pretty low. This is sad, sure, but being aware of these feelings is key for developers and technica

[2019-07-18 02:49] bniedermeyer commented on #166
Sounds great. We don't often have a lot of talks around testing. See you in December!

[2019-07-22 18:17] grant opened #167 "Talk proposal: Get Stuff Done with Google Cloud Tasks"
# Get Stuff Done with Google Cloud Tasks

Google Cloud Platform has a wide array of convenient tools to help scale the technical infrastructure of your business.

In this talk, we'll talk about [Google Cloud Tasks](http://cloud.google.com/tasks), which allows you to schedule _millions_ of "Tasks" for Google Cloud to execute code asynchronously.

It's extremely scalable, configurable, cost-effectiv

[2019-07-23 01:58] bniedermeyer commented on #167
Hi @grant. Our August event is actually going to be on the 21st and will not be having any talks as it's our annual social (you're welcome to join us!). Let us know next time you're in town!

[2019-07-23 02:05] grant commented on #167
Oh, understood, thanks for the update.

[2019-07-23 02:05] #167 closed

[2019-08-01 18:36] crtr0 opened #168 "Sponsor request: CascadiaJS"
# CascadiaJS 2019

Would love to let the community know about:

- scholarships
- sponsorships (Inception!)
- group ticket sales

## Contact Info

You know 😉

[2019-08-10 17:27] sevilayha opened #169 "Talk proposal: JavaScript is Weird. We Love JavaScript"
# JavaScript is Weird. We Love JavaScript

In today's JavaScript land, we often skip straight to the fun libraries like React and Vue. This leaves a few gaps in our base JavaScript knowledge.

Let's take a step back and focus on JavaScript itself. We'll go over some of the most misunderstood parts of JavaScript like:

- hoisting
- scope
- this
- coercion

### Who is this?

Chris on Code is the fou

[2019-08-10 20:46] bniedermeyer commented on #169
Excited to see this. See you in September!

[2019-08-12 20:16] jasonnutter opened #170 "Talk proposal: Browser Crypto APIs"
# Browser Crypto APIs

_(WIP title)_

## Abstract

Did you know your web browser is capable of performing cryptographic operations, such as generating keys, encrypting and signing data, and more? In this talk, I'll give an overview of the browser `crypto` APIs, and showcase some practical scenarios by detailing how Microsoft is using these APIs to build more secure experiences for our customers.

[2019-08-13 16:34] #169 closed

[2019-08-13 16:35] bniedermeyer commented on #170
Hi @jasonnutter! This looks great. Does our September 12th event work for you?

[2019-08-13 20:42] jasonnutter commented on #170
@bniedermeyer Yes, the September event works for me. Thanks!

[2019-08-14 18:44] bniedermeyer commented on #164
Hi @JoseHerminioCollas Can you make our September 12th Event?

[2019-08-15 18:38] lwyles opened #171 "Sponsor request: <Xealth, Inc.>"
# Company name
Xealth, Inc.

A short explanation of why you'd like to sponsor. Are you looking to hire? Want feedback from devs? 1-2 paragraphs is fine.
We are hiring 5-8 devs from junior to Principal level of engineer between now and the end of the year and we want to get engaged in the local community for our devs to have networking and to get our brand out for hiring where the talent is.

## Co

[2019-08-16 19:58] bniedermeyer commented on #164
Hi @JoseHerminioCollas, I'm going to close this for now as it looks like we're having trouble connecting. Feel free to re-open it when you are available - we'd love to have you speak.

[2019-08-21 05:39] drote opened #172 "Talk proposal: CushionDB: a Database for Progressive Web Apps"
CushionDB: a Database for Progressive Web Apps

(cushiondb.github.io)
CushionDB is an open-source offline-first database that uses PWA tools in order to achieve syncing to and from the database in the background, when the app is closed. The talk includes a broad overview of the PWA Toolkit, an examinations of the data structure, syncing and authentication design patterns in the offline first world

[2019-08-23 19:22] bniedermeyer commented on #168
Thanks again!

[2019-08-23 19:22] #168 closed

[2019-08-23 19:24] bniedermeyer commented on #172
Hi @drote Are you available for our November 14th or December 12th events?

[2019-08-23 20:07] drote commented on #172
November 14th would be great!

On Fri, Aug 23, 2019, 12:24 PM Brenden Niedermeyer <notifications@github.com>
wrote:

[2019-08-27 20:55] evantahler opened #173 "Talk proposal: Using Next.JS & Github to build static sites (and never pay for hosting again!)"
# Using Next.JS to build static sites (and never pay for hosting again!)

## Overview

Next.js is a static & dynamic site rendering tool for websites based on React.  We can use Next.js to flatten and build static sites for us using React.  We can then upload these packs to Github Pages for a freely hosted website.  This talk will focus less on the React part of things, and more on the "devops" to

[2019-08-29 04:50] bniedermeyer commented on #173
Can you please join our Slack group if you haven't already? That way we can add you to a channel for the event for better communication between you and the organizers. Feel free to ping me once you join. You can sign up here if you aren't already a member. https://bit.ly/SeattleJSslack

[2019-08-29 04:50] bniedermeyer commented on #170
Hi @jasonnutter, Can you please join our Slack group if you haven't already? That way we can add you to a channel for the event for better communication between you and the organizers. Feel free to ping me once you join. You can sign up here if you aren't already a member. https://bit.ly/SeattleJSslack

[2019-08-29 15:23] trivikr opened #174 "Talk proposal: HTTP/3: Node.js can do QUIC"
# Title of talk

The QUIC and HTTP/3 protocols are currently being developed by the IETF. While they are busy working, we've been busy working on an implementation within Node.js core. This presentation will introduce the protocol and the implementation and update on where things are at!

I'm a Software Development Engineer and have been working on Node.js for last 3 years
I maintain [AWS SDK for

[2019-08-29 15:23] trivikr commented on #165
Closing in favor of HTTP/3 talk in #174

[2019-08-29 15:23] #165 closed

[2019-08-30 17:40] jasonnutter commented on #170
@bniedermeyer Joined!

[2019-09-11 22:12] lbock0705 opened #175 "Talk Proposal - Feature Talk (Max 20 Minutes)"
I work for a company called BeMyApp, a software developer relationship agency, and we have partnered with Kintone. Kintone is looking to give a feature talk (presentation/workshop) on their platform and what it can do.

Kintone is a company that has a teamwork platform with a visual application builder that enables organizations to effectively manage their data and workflow for better collaboratio

[2019-09-13 14:31] #160 closed

[2019-09-13 14:31] #170 closed

[2019-09-13 14:31] #173 closed

[2019-09-13 14:31] #171 closed

[2019-09-25 17:49] trivikr commented on #174
@bniedermeyer I know it's a little late, but is it possible to move [SeattleJS October meetup](https://www.meetup.com/seattlejs/events/clmbzqyznbnb/) to a different date?

Reason: Seattle TypeScript meetup is on [Oct 10th](https://www.meetup.com/seattle-ts/events/264757065/), and some SeattleJS fans might like to attend it.
This is a one-time exception from them as [TSConf](https://tsconf.io/) is

[2019-09-25 19:46] bniedermeyer commented on #174
I'll bring it up with the other organizers. It will kind of depend on our sponsor and whether their schedule allows for it.

[2019-09-25 20:03] trivikr commented on #174
Thanks! As a speaker I'm good with most days in October
Preference for Thursday Oct 17th

[2019-09-28 22:35] trivikr commented on #174
Hi @bniedermeyer, any update on possibility of change of dates for October meetup?

[2019-09-28 23:19] ajredniwja opened #176 "Talk proposal: Make your applications faster by using AWS JavaScript SDK v3"
The AWS SDK for JavaScript enables developers to build libraries an applications that use AWS services. You can use the JavaScript API in the browser and inside Node.js applications on the server. The v3 is now modular and has been written in TypeScript. In this talk, we'll understand how to make your application faster by using this modularized version of AWS JavaScript SDK”

I am currently worki

[2019-09-29 04:56] francisadanza opened #177 "Sponsor request: Testim"
# Testim

A short explanation of why you'd like to sponsor. Are you looking to hire? Want feedback from devs? 1-2 paragraphs is fine.

We have a job opening for a dev evangelist that I'd like to promote. We would also like to promote webinars and free trials of our product.

## Contact Info
francis@testim.io

How can we reach you? Email or Twitter is fine.

[2019-09-29 19:40] bniedermeyer commented on #176
Hi @ajredniwja! This looks great. Does our October 10th event work for you?

[2019-09-29 19:41] bniedermeyer commented on #174
Still working on seeing if it's possible. I'd say until I hear otherwise assume that we are keeping the 10th.

[2019-09-30 04:58] bniedermeyer commented on #174
We won’t be able to reschedule the event. Are you still able to make it?

[2019-09-30 07:27] trivikr commented on #174
What's the location?
It still says TBD at https://www.meetup.com/seattlejs/events/clmbzqyznbnb/

[2019-09-30 18:34] trivikr commented on #176
Update: @AllanFly120 will be the primary speaker for this talk, and Ajwinder would be assisting him.

* Allan Zheng
* [GitHub](https://github.com/AllanFly120)
* [Twitter](https://twitter.com/allanzhengyp)

We're waiting to get this talk approved from AWS, and will respond once we get approval.

[2019-09-30 18:58] coopy commented on #177
Hi, @francisadanza. Thank you! We will send an email to follow up.

[2019-09-30 18:59] coopy commented on #174
The Location will be Ookla (downtown Seattle). Meetup page will be updated
this week.

On Mon, Sep 30, 2019 at 12:27 AM Trivikram Kamat <notifications@github.com>
wrote:

[2019-09-30 19:45] trivikr commented on #174
Thanks! I will be able to speak at the event on Oct 10th

[2019-10-02 16:59] trivikr commented on #176
I confirm on behalf of @AllanFly120 and @ajredniwja that October 10th event works for us.

We would like to request for the following [schedule](https://www.meetup.com/seattlejs/events/clmbzqyznbnb/):
* 6:50pm to 7:15pm:
  * Title: Make your applications faster by using AWS JavaScript SDK v3
  * Speaker: Allan Zheng and Ajwinder Singh
  * Description: The AWS SDK for JavaScript enables developers

[2019-10-02 17:21] ajredniwja commented on #176
Thank-you for confirming @trivikr. The schedule looks great, looking forward to it.

[2019-10-02 17:39] AllanFly120 commented on #176
Hey thank you @trivikr @ajredniwja! I will give the talk with Ajwinder!

[2019-10-03 05:13] bniedermeyer commented on #176
Sounds great, we'll update our schedule!

[2019-10-08 05:51] stmcallister opened #178 "Talk proposal: Client-side OAuth with PKCE"
# Client-side OAuth with PKCE

The OAuth standard has been around for a while, but traditionally it has required a back-end server to hold a client secret, well, secret. Managing secrets can be a very hard problem to solve. Until now! By supporting Proof Key for Code Exchange, or PKCE, OAuth flows can now be accomplished entirely in the client--and still be secure. In this talk we begin the standa

[2019-10-08 15:41] bniedermeyer commented on #178
Hi @stmcallister! This looks great. Does our November 14th event work for you?

[2019-10-08 20:35] stmcallister commented on #178
@bniedermeyer November 14th works for me! Do you have a time and location set at this point?

[2019-10-08 20:37] stmcallister commented on #178
Just checked the meetup page. Apparently, it's 6-9pm. :)

[2019-10-08 23:55] bniedermeyer commented on #178
Yep! We are still working out the host details. If you haven't already, join our Slack. That way we can add you to a channel for the event for better communication. You can sign up here if you aren't already a member. https://bit.ly/SeattleJSslack

[2019-10-09 00:43] stmcallister commented on #178
That slack invite link seems to have expired. :)

[2019-10-10 05:10] bniedermeyer commented on #178
oh weird, I worked for me. Do you have an email you want me to send an invite to?

[2019-10-10 05:21] stmcallister commented on #178
Interesting. Try stmcallister@gmail.com

[2019-10-10 13:51] JoseHerminioCollas commented on #164
Hello, I did not see this conversation! I can do this lightning talk this eve.

[2019-10-11 06:29] trivikr opened #179 "Workshop proposal: Hands-on workshop with AWS JavaScript SDK v3"
I'm creating this issue, as it was requested by several attendees during SeattleJS October meetup talk https://github.com/seattlejs/seattlejs/issues/176

## Title of workshop
Hands-on workshop with AWS JavaScript SDK v3

## Description
The AWS SDK for JavaScript enables developers to build libraries an applications that use AWS services. You can use the JavaScript API in the browser and inside Nod

[2019-10-11 06:32] trivikr commented on #179
cc @AllanFly120 (co-presenter)

[2019-10-11 17:39] colinlgray opened #180 "Talk proposal: Making music with ToneJS"
### Making music with tonejs

In this talk I am going to go over my favorite new library: [tonejs](https://tonejs.github.io). For a long time I have been making applications to do important work, or at least work that has concrete acceptance criteria. Recently I wanted to do something that is low stakes and would allow for creativity while coding. Then I stumbled upon tonejs.

This talk will proba

[2019-10-15 03:23] bniedermeyer commented on #180
Hi @colinlgray
Our lineup is set for November already. Are you going to be available for our December 12th event? Or would January work better?

[2019-10-15 17:44] colinlgray commented on #180
December 12 should work for me. I'll be getting back from ReactDayBerlin around then so I might be jet lagged but hopefully I'll have some cool news to share from the event

[2019-10-18 16:41] JoseHerminioCollas commented on #164
great thanks!

[2019-10-22 22:45] ahoak opened #181 "Talk proposal: Observable Notebooks"
# Observable: The magic notebook for exploring data

Observable notebooks are an exciting, new, free web-based platform that perform very similarly to Juypter notebooks for python. These notebooks allow developers to easily import and compute data in JavaScript without a framework. Observable provides a live-coding experience and is a great place for learning, sharing code or building your portfol

[2019-10-23 16:04] bniedermeyer commented on #164
No problem! Like I said if you need any feedback on stuff feel free to send an outline or something my way - contact@brenden.dev

[2019-10-23 16:06] bniedermeyer commented on #181
Sounds great! Does December 12th work?

[2019-10-23 16:22] ahoak commented on #181
Yes, December sounds good!

[2019-10-26 19:56] carolstran commented on #166
Hello again!

I have a quick question for you... would it be possible to switch my topic? Looking at my schedule the next month and considering the fact I just switched jobs, I don't think I'll realistically be able to write a new talk in time.

I have a few other talks that could also maybe fit your audience. I'll list them below and then you can let me know what you think? But of course, if none

[2019-10-27 22:59] bniedermeyer commented on #166
@carolstran Absolutely. Is it possible to do the humanizing documentation talk in 20-25 minutes? If not the intuitive tooling one also sounds great.

[2019-10-27 23:23] bniedermeyer commented on #172
Hi @drote, Can you please join our Slack group if you haven't already? That way we can add you to a channel for the event for better communication between you and the organizers. You can sign up here if you aren't already a member. http://bit.ly/SeattleJSSlack

[2019-10-27 23:24] bniedermeyer commented on #164
Hi @JoseHerminioCollas, Can you please join our Slack group if you haven't already? That way we can add you to a channel for the event for better communication between you and the organizers. You can sign up here if you aren't already a member. http://bit.ly/SeattleJSSlack

[2019-10-28 14:06] carolstran commented on #166
Ahhhh great, thank you for being so understanding 💙

I can certainly do the docs one in 20-25 minutes! Let's plan for that then? Should I update the issue?

[2019-10-28 19:37] bniedermeyer commented on #166
Sure, that would be great. Thank you!

[2019-10-28 20:37] drote commented on #172
Hey Branden! I'm already a member of the slack group as Daniel Roth.

On Sun, Oct 27, 2019, 4:23 PM Brenden Niedermeyer <notifications@github.com>
wrote:

[2019-11-01 11:21] carolstran commented on #166
Hey @bniedermeyer, I've given it a lot of thought and I'd rather withdraw from speaking at the meetup entirely. While it would've been a great opportunity to speak at SeattleJS, I'm not in the US very often and I want to be able to spend as much time with friends and family as possible. I'm sorry to jerk you around, but I hope you can understand.

Closing this issue now, but maybe see you in the f

[2019-11-01 11:21] #166 closed

[2019-11-01 15:00] bniedermeyer commented on #166
No worries, hope something works out in the future!

[2019-11-15 05:04] ahoak commented on #181
@bniedermeyer  can I move this talk to January? I have work conflict with Dec 12th.

[2019-11-15 15:52] #174 closed

[2019-11-15 15:52] #176 closed

[2019-11-15 15:52] #164 closed

[2019-11-15 15:52] #172 closed

[2019-11-15 15:52] #178 closed

[2019-11-15 15:53] #163 closed

[2019-11-15 15:53] bniedermeyer commented on #181
Yep no problem!

[2019-11-15 15:55] #175 closed

[2019-11-15 15:57] bniedermeyer commented on #179
Hey @trivikr and @AllanFly120 We are still interested in doing this. Would sometime in January work? Would Amazon be willing to host?

[2019-11-15 15:59] trivikr commented on #179
January would be perfect time to host this workshop!
I'll check if Amazon can host it.

[2019-11-15 18:31] trivikr commented on #179
@bniedermeyer Is there a date you have in mind for the workshop?
Can we have this workshop in place of SeattleJS January meetup on Jan 9th ([link](https://www.meetup.com/seattlejs/events/clmbzqybccbmb/))?

[2019-11-15 18:47] trivikr commented on #179
@bniedermeyer How many people can we expect for this workshop?

I'm trying for:
* Date: Thursday, February 20, 2020
* Time: 2pm-5pm (will check if 6pm-9pm option is available)
* Location: [Amazon Meeting Center (SEA45)](https://goo.gl/maps/1sFc3Hb8yNRwzfCf8)

Meeting Center sits 1000+ people, but I plan to request for classroom configuration and just one of the rooms - depending on how many people

[2019-11-15 21:22] bniedermeyer commented on #179
It's hard to say for sure since we don't do a ton of workshops. I'd say let's plan for 20 - 40 for now (or just one classroom's worth) and we can see how initial RSVPs look?

[2019-11-15 21:37] trivikr commented on #179
Sounds good. If it's just 20-40, we don't have to plan in advance.
We can revisit this in mid or late-December.

[2019-11-21 04:23] evantahler opened #182 "Talk proposal: Converting a Server/Node.JS framework to Typescript"
# Converting a Server/Node.JS framework to Typescript

Actionhero (https://www.actionherojs.com) is switching over to Typescript!   This is a big project for the community, and we are learning a lot!   I would like to share some of the things we've learned:
* Why Typescript to begin with?
* Creating a developer workflow that works for both TS and JS projects
* When is using `ts-node` appropriate?

[2019-11-21 15:48] bniedermeyer commented on #182
Hi @evantahler! Just double checking - you can do the 12th right?

[2019-11-21 16:49] evantahler commented on #182
Hmm... I think Dec 12 might be a bit too soon.  I'd like to have a month or so under my belt past the migration to see what shakes out.  Is a slot in January available?

[2019-11-21 18:25] koryteg opened #183 "Talk proposal: Modern State Management for a Functional React"
# Modern State Management for a Functional React

State management in React has been difficult to get right since its inception. Over the years developers have build libraries to help with this, such as Redux, Mobx and Context API. As patterns have changed, React has become more functional in its programming style. The core team has added functional components and `hooks` to manage state for them.

[2019-11-21 20:39] bniedermeyer commented on #183
hi @koryteg. Can you make our December 12th event?

[2019-11-21 20:39] bniedermeyer commented on #182
Yep! I'll put you on the schedule

[2019-11-21 20:45] koryteg commented on #183
yes! can make it to that date!

[2019-11-21 20:47] bniedermeyer commented on #183
Awesome! Can you please join our Slack group if you haven't already? That way we can add you to a channel for the event for better communication between you and the organizers. You can sign up here if you aren't already a member. https://bit.ly/SeattleJSSlack

[2019-11-21 20:55] koryteg commented on #183
Ok sounds good I joined!

[2019-11-26 21:45] jasonnutter opened #184 "Talk proposal: Microsoft Authentication Library for JavaScript - State of the Union"
# Microsoft Authentication Library for JavaScript - State of the Union

The Microsoft Authentication Library for JavaScript (MSAL.js) enables client-side web applications to authenticate users using Azure Active Directory for work/school accounts, personal Microsoft accounts, and social identity providers such as Facebook, Google, etc. It also enables your application to acquire access tokens for

[2019-11-26 21:46] jasonnutter commented on #184
I noticed there isn't a third talk yet for 12/12, I'd be happy to fill that slot if it's still vacant. Thanks!

[2019-11-26 21:59] jasonnutter commented on #184
(This could also be done as a lightning talk.)

[2019-11-28 00:26] sangeethaKP opened #185 "Talk proposal: React Native - Under the hood"
# React Native - Under the hood

Often times we work with React Native applications without having to deal with it's platform level internals that are wisely tucked away under several layers of abstraction. Knowing the cogs that are triggered when your app is launched would be a invaluable tool under your belt if you desire to build performant apps.

In this talk, we’ll deep dive into the internal

[2019-11-28 00:29] bniedermeyer commented on #185
Hi @sangeethaKP! Are you available to give this talk on December 12th?

[2019-11-28 00:30] sangeethaKP commented on #185
Hi @bniedermeyer, Yes I am available to give this talk on December 12th!

[2019-11-28 01:08] bniedermeyer commented on #185
Great! Can you please join our Slack group if you haven't already? That way we can add you to a channel for the event for better communication between you and the organizers. You can sign up here if you aren't already a member. https://bit.ly/SeattleJSSlack

[2019-11-28 01:51] sangeethaKP commented on #185
Done, thanks! :)

[2019-12-03 02:57] smcenlly opened #186 "Sponsor request: Wallaby Pty Ltd"
# Wallaby Pty Ltd

We create developer productivity tools for JavaScript/TypeScript developers and would like to provide some free licenses to your monthly user group as a form of sponsorship.

We are not looking to hire at this stage but would definitely appreciate feedback on our tools from your developers.

## Contact Info

Please email us at [hello@wallabyjs.com](mailto://hello@wallabyjs.com)

[2019-12-06 21:06] bniedermeyer commented on #186
Hi @smcenlly, This sounds great! I've sent an email out to the requested address. Look forward to chatting.

[2019-12-06 22:43] smcenlly commented on #186
Thanks, I've replied to your email. I'll close this issue.

[2019-12-06 22:43] #186 closed

[2019-12-18 05:44] #180 closed

[2019-12-18 05:44] #183 closed

[2019-12-18 05:44] #185 closed

[2019-12-31 07:11] athersharif opened #187 "Talk proposal: Metis: Using Google Sheets as a Makeshift Database for React Apps"
# Metis: Using Google Sheets as a Makeshift Database for React Apps

Building web apps using React has become increasingly popular in the past few months. However, considering a short-term project, such as in civic hacking, especially when the clients are non-tech-savvy, the developers can become a bottleneck for updating the website's content. [Metis](https://github.com/athersharif/metis) is a Hi

[2019-12-31 17:07] bniedermeyer commented on #187
Hi @athersharif ! This looks great. Does our January 9th event work for you?

[2019-12-31 18:08] athersharif commented on #187
@bniedermeyer great! Jan 9th could work for me! quick question - is the venue wheelchair accessible? asking because i use a wheelchair. similarly for the podium (could certainly just use a table instead).

[2019-12-31 18:13] bniedermeyer commented on #187
We are still working on confirming the venue but I will make sure that’s taken into account. Thanks!

[2019-12-31 18:14] athersharif commented on #187
great, thanks!

[2019-12-31 19:18] cwhitten opened #188 "Talk proposal: Bot Framework Composer: A web-based IDE to build sophisticated conversational applications from Microsoft"
# Bot Framework Composer: A web-based IDE to build sophisticated conversational applications from Microsoft

Slack, Microsoft Teams, Facebook Messenger, Cortana, WhatsApp, etc: Conversational interfaces are here to stay, and more and more companies are investing in experiences on these platforms to connect with their customers and communities.

In this talk, we'll explore the domain of conversatio

[2020-01-03 06:08] bniedermeyer commented on #188
Hi %speaker%, Can you please join our Slack group if you haven't already? That way we can add you to a channel for the event for better communication between you and the organizers. You can sign up here if you aren't already a member. https://bit.ly/SeattleJSslack

[2020-01-03 06:09] bniedermeyer commented on #188
Hi @cwhitten! This looks great. Does our Feb 13th event work for you?

[2020-01-06 17:29] bniedermeyer commented on #181
@ahoak - We've had to cancel this month's event. Can you make Feb 13th?

[2020-01-06 17:30] bniedermeyer commented on #182
@evantahler - We've had to cancel this month's event. Can you make Feb 13th?

[2020-01-06 17:30] bniedermeyer commented on #187
Hi @athersharif - We've had to cancel this month's event. Can you make Feb 13th?

[2020-01-06 17:31] bniedermeyer commented on #188
hi @cwhitten  - We've had to cancel this month's event so most of the speakers will probably be pushed to feb. Can you make March 12th?

[2020-01-06 17:32] bniedermeyer commented on #179
Hi @trivikr - checking in on this. Are you still interested in doing the workshop sometime in Feb?

[2020-01-06 17:52] ahoak commented on #181
Yes Feb works.

[2020-01-06 17:57] bniedermeyer commented on #181
Great!

[2020-01-06 18:26] trivikr commented on #179
Hi @bniedermeyer, we're interested in doing this workshop but Feb would be little early for us.
We'll respond by end-Feb on whether this workshop can be organized in March/April.

[2020-01-06 18:44] bniedermeyer commented on #179
Sounds great, thanks!

[2020-01-07 00:40] athersharif commented on #187
@bniedermeyer bummer! feb 13th should work! lmk when you finalize on the venue!

[2020-01-07 16:03] bniedermeyer commented on #187
Will do!

[2020-01-08 23:21] evantahler commented on #182
I sure can!

[2020-01-22 23:04] trivikr opened #189 "Talk proposal: WTH is React's experimental Concurrent Mode"
# WTH is React's experimental Concurrent Mode

[Concurrent Mode](https://reactjs.org/docs/concurrent-mode-intro.html) is a set of new experimental features that help React apps stay responsive and gracefully adjust to the user’s device capabilities and network speed. In this talk, I'll be examining an app to understand blocking vs interruptible rendering, and see how concurrent mode overcomes some

[2020-01-23 01:29] bniedermeyer commented on #189
@trivikr can you do March 12th?

[2020-01-23 05:32] trivikr commented on #189
Yeah! March 12 works for me

[2020-02-04 16:39] evantahler commented on #182
Hello @bniedermeyer - I'm very sorry, but I can no longer attend the Feb meetup.  Would it be possible to reschedule?

[2020-02-05 02:11] bniedermeyer commented on #182
@evantahler yep, no problem. March's lineup is full, can you do April 9th?

[2020-02-05 02:15] bniedermeyer commented on #184
Hi @jasonnutter! So sorry it took me so long to get back to you. We took January off so are now getting back into the swing of things. We have talk openings for next Thursday, or in April on the 9th. Which would work out better for you?

[2020-02-05 02:16] bniedermeyer commented on #188
Hi @cwhitten - just checking in. Does our March 12th event work for you?

[2020-02-05 06:24] jasonnutter commented on #184
@bniedermeyer No worries. I'm actually reconsidering this talk proposal, I have a couple other topics that might be more worthwhile. I'll follow up soon.

[2020-02-05 16:41] evantahler commented on #182
I can make April 9!
Thank you again, and I'm sorry for the last minute change

[2020-02-05 20:39] bniedermeyer commented on #184
Sounds good. thanks for the update!

[2020-02-05 20:47] bniedermeyer commented on #187
@athersharif Hello again! Next week's event will be at Galvanize (111 S Jackson St, Seattle, WA 98104). Are you on our slack? If not can you join? It makes coordination a bit easier. You can sign up here: bit.ly/SeattleJSSlack

[2020-02-09 21:54] athersharif commented on #187
@bniedermeyer sounds good. just joined!

[2020-02-18 20:41] #181 closed

[2020-02-18 20:41] #187 closed

[2020-02-18 20:42] bniedermeyer commented on #179
Just checking in - do you think March or April will work best for you all?

[2020-02-18 20:43] bniedermeyer commented on #184
@jasonnutter  I'm going to close this out for now - feel free to reopen it if you decide you want to give this talk! thanks!

[2020-02-18 20:43] #184 closed

[2020-02-18 20:44] bniedermeyer commented on #188
hi @cwhitten - it looks like we're having trouble connecting on this. We'd love to have you come speak at SeattleJS. Feel free to reopen this talk when it's better for you  or open a new one on a different topic if you'd like!

[2020-02-18 20:44] #188 closed

[2020-02-18 20:45] bniedermeyer commented on #159
closing stale submissions

[2020-02-18 20:45] #159 closed

[2020-02-18 20:45] bniedermeyer commented on #177
closing stale submissions

[2020-02-18 20:45] #177 closed

[2020-03-02 21:53] bniedermeyer commented on #189
@trivikr - we are going to be cancelling this month afterall (sorry for the back and forth) as a precaution given the covid situation. Would you be available next month or possibly for a remote talk if we decide to go that direction?

[2020-03-04 16:59] trivikr commented on #189
@bniedermeyer April 9th works for me
Event details https://www.meetup.com/seattlejs/events/clmbzqybcgbmb/

[2020-03-05 19:05] trivikr commented on #189
@bniedermeyer The two internal company conferences where I was planning to give this talk are cancelled. So I won't be able to prepare the talk specifically for SeattleJS.

This issue can be closed.
I'll create a new issue if I plan to give talk on same or different topic.

[2020-03-09 23:38] #189 closed

[2020-03-31 02:48] bniedermeyer commented on #182
@evantahler Would you be willing to give this talk remotely? We're looking into the idea of hosting a online event in the next month or two

[2020-03-31 15:48] evantahler commented on #182
I could certainly give a remote talk!

[2020-05-29 16:33] bniedermeyer commented on #182
Hi @evantahler! Hope you're doing well. We are going to be doing a joint online event on June 25th with Angular Seattle. Would you like to give your talk as part of the event?

[2020-05-29 17:57] bniedermeyer commented on #179
Hey @trivikr. Do you have any interest in doing this remotely sometime in the next few months or would you rather wait until we are able to do in person?

[2020-05-29 21:21] trivikr commented on #179
@bniedermeyer Closing this issue as workshop is not a priority for us right now.
The interested attendees can be directed to self-service repository https://github.com/aws-samples/aws-sdk-js-v3-workshop/

FYI: The instructions and code in the repository are going to be simplified further in coming weeks. WIP PR https://github.com/aws-samples/aws-sdk-js-v3-workshop/pull/176

[2020-05-29 21:21] #179 closed

[2020-05-29 21:22] bniedermeyer commented on #179
Sounds great, thanks!

[2020-06-01 15:35] evantahler commented on #182
Hi @bniedermeyer.  I'm sorry to say that I'm a bit swamped right now, and I don't think I'll be able to do a good job with it this month.

[2020-06-01 17:02] bniedermeyer commented on #182
Not a problem! I’ll follow up when we’re planning the next event.

[2020-12-19 06:33] JOLee83 commented on #182
@evantahler When you have the time can you update your proposal or start a new one.

[2020-12-23 18:00] evantahler opened #191 "Sharing (Typescript) Types Across the Stack"
# Sharing (Typescript) Types Across the Stack

When you dive into the Typescript deep end, you'll hopefully start to see the benefits of using complex types across all parts of your application. You can can check that the controller is accessing a model property that really does exist, and you can use union types to make sure your API responses are always valid.

But, what if we could share our Ty

[2020-12-23 18:01] evantahler commented on #182
New issue added! https://github.com/seattlejs/seattlejs/issues/191
(maybe this talk would still be valuable)

[2020-12-23 18:03] evantahler commented on #191
Rough outline of the content https://www.grouparoo.com/blog/typescript-frontend-backend

[2021-01-04 22:51] theRemix opened #192 "Talk proposal: 20-21 developer tips to optimize your workflow"
# 20-21 developer tips to optimize your workflow

In the span of a typical software engineering career, it's natural that one would constantly improve developer skills, though it's not automatic that one would improve one's workflow.

It takes conscious time and effort to sharpen your tools.
This will be a lightning talk that will cover general productivity and workflow tips that are easy to adopt

[2021-01-11 20:12] mccataldo opened #193 "Talk proposal: MTFA (Make Testing Fun Again) with Cypress"
# MTFA (Make Testing Fun Again) with Cypress

Writing end-to-end tests is a chore. Maintaining them is a nightmare. Cypress is replacing Selenium as the de facto standard. If you want to make writing tests fun again, then this talk is for you. I'll introduce you to Cypress and show you why you should use it to ship front-end code more confidently.

I've been using Cypress exclusively since it came

[2021-01-27 07:17] #192 closed, assigned to nobody

[2021-02-05 20:21] cmgriffing opened #194 "Talk proposal: Tech Twitch and You"
# Tech Twitch and You

There is a Science and Technology section of Twitch that you might not know about. You can find streamers just starting out on their coding journey. You can find seasoned developers that write code for major companies, open-source enthusiasts, and fun communities with which to talk about tech. There are even official streams from large companies like AWS, Microsoft, and Mong

[2021-02-05 20:22] cmgriffing commented on #194
I could have something ready in time for the Feb 11 meetup if needed and I could have a draft of slides ready for review by the end of this weekend if needed.

If not, no worries, just want to briefly highlight some of the awesome streams that are out there.

[2021-02-06 03:11] JOLee83 commented on #194
Hi Chris, I can definitely fit you as the 3rd Speaker this month. sent you a message on Seattle JS slack, we can continue the conversation on there.

[2021-02-09 06:51] cmgriffing commented on #194
Here is a rough draft of the slides.
http://cmgriffing.github.io/presentation-tech-twitch-and-you/?notes

I will be adding more content and making proper links. But I wanted to get this up as soon as I had it to a rough draft just in case you had any comments.

[2021-02-11 16:17] DamonLC21 opened #195 "Talk proposal: Using Hooks w/ React-Redux"
# Using Hooks w/ React-Redux

We will be covering the use of the React-Redux hooks API as an alternative to the connect() Higher Order Component.  Hooks have been a hot topic for quite some time and what better way to highlight them than with a commonly used library, React Redux. Hooks give us the ability to always use functions instead of juggling between classes or high order components and at t

[2021-02-12 04:30] JOLee83 commented on #194
Thanks for speaking!

[2021-02-12 04:30] #194 closed, assigned to nobody

[2021-02-12 04:31] JOLee83 commented on #193
Thanks for speaking!

[2021-02-12 04:31] #193 closed, assigned to nobody

[2021-02-12 04:32] JOLee83 commented on #191
Thanks for speaking!

[2021-02-12 04:32] #191 closed, assigned to nobody

[2021-02-12 04:38] JOLee83 commented on #195
Awesome, thanks for getting this in Damon. I got you locked in for March meetup. Here is the link to event, https://www.meetup.com/seattlejs/events/dlprdsyccfbpb/, rsvp to get the Zoom Link. I will reach out to set a quick prep meeting a day or two before the event with all the speaker.

[2021-02-12 06:49] evantahler commented on #191
Happy to do it!

The slides, code, and demo app can all be found here: https://github.com/evantahler/pokemon-typescript

[2021-02-26 00:13] ThinkTink opened #196 "Talk proposal: Acing the Technical Interview"
# Acing the Technical Interview

This presentation will help any developer who is job searching, or might one day be job searching, to prepare for technical coding interviews. It will cover how to prepare, how to spend your practice time efficiently, how to approach the interview itself, what to do when you get stuck, and more. The slides can be seen [here](https://docs.google.com/presentation/d/1

[2021-03-21 22:41] theRemix opened #197 "Talk proposal: Philosophy of Software Design"
# Philosophy of Software Design

An interactive workshop that dives into some of the concepts from the book Philosophy of Software Design.
In this talk, we'll identify what makes software design complex and some techniques that will simplify your codebase.

We'll review some concrete design samples that use react and nodejs in order to associate some of the principles into your day-to-day work lif

[2021-03-31 00:34] #196 closed, assigned to nobody

[2021-03-31 00:35] #195 closed, assigned to nobody

[2021-10-24 22:37] cmgriffing opened #198 "Talk proposal: Delicious VSCode Extension Development"
# Delicious VSCode Extension Development

VSCode offers a lot of functionality to allow you to customize it via the Extension API. I saw the Flutter plugin and wanted the same type of annotations for HTML. From there, we explored making one for JS/TS, and others, before landing on Tree Sitter for broad language support. We dubbed our annotations biscuits because they make consuming HTML a treat.

[2021-11-09 20:36] cmgriffing commented on #198
Just checking in. If there is no interest in this talk, I have others I can propose. I just didn't want to spam.

[2021-11-24 04:35] #198 closed, assigned to nobody